@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

html,
body {
	height: 100%;
}

body {
   	font-family: 'Didact Gothic', sans-serif !important;
	color: #333;
	margin: 0;
	text-align: center;
}

.loading{
		width:100%; 
		height:100vh; 
		padding:60% auto; 
		background:rgba(0,0,0,.6); 
		z-index:80;
		position:absolute;
	}

.loading p, .loading img{
	margin: 70% auto;
	color: white;
}

.mainpage{
	/*  background-color: #f1f1f1; */
	background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 1) 100%), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center;
	/* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 1) 100%), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center; */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1))), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center; */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 1) 100%), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center;
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center;
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%), url('http://www.champselysees-paris.com/images/restaurant-images/home_haagen_dazs_fev_2012_hp_997485720.jpeg') no-repeat center;
	background-size: cover;
	margin: 0;
	height:96%;
	display:none;
}

.main-image{
	width: 100%;
	overflow: hidden;
	height: 200px;
}

/* SHOP BEGIN */	
.shoppage{
		
	margin: 0;
	padding-top:40px;
}

.newspage{
		
	margin: 0;
	padding-top:20px;
}


.contentshop {
	width: 100%;
	margin-top: 0px;
	color: black;
	min-height: 91.5%;
	
}


.products{
		height:43vh;
		text-align:center;
		color:white;
		padding-top:42%;
	}
	
.products button{
	width:83%;
	font-size:3vw;
	font-weight:thin;
	background:none;
	padding:4px 4px;
	border: 1px white solid;
	text-transform:uppercase;
}

.products a{
	color:white;
}

.products a:hover{
	color:white;
}
/* SHOP END */

/* REDEEM BEGIN */

.gifts{
	height:43vh;
	text-align:center;
	color:white;
	padding-top:5%;
}
	
.gifts p{
	color:#f2bf0e;
	font-weight:bold;
	margin-top:0 !important;
}
	
.gifts button{
	width:83%;
	font-size:3vw;
	font-weight:thin;
	background:none;
	padding:4px 4px;
	border: 1px white solid;
	text-transform:uppercase;
}

.gifts a{
	color:white;
}

.gifts a:hover{
	color:white;
}

.redeem-disc{
	border-radius:12px;
	padding:4px;
	display:block;
	background:#f2bf0e;
	color:black;
	width:25%;
	margin-bottom:70% !important;
	font-size:11pt;
	font-weight:bold;
}
/* REDEEM END */


/* PROFILE BEGIN */
.avatar {
width: 100px;
height: 100px;
border-radius: 50px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
background: url(http://www.menshairstyles.net/d/80866-1/Man+professional+haircut+picture.PNG) no-repeat center top ;
background-size:cover;
margin-bottom:10px;
}

.brief{
	color:white;	
}

.brief p{
	font-weight:bold;
	font-size:10pt;
	margin-bottom:0 !important;
}

.brief .poin{
	font-weight:bold;
	font-size:14pt;
	color:#f2bf0e;
}

.profile {
	max-height:40vh; 
	width:100%;
	/* background:#810D24; */
	background:url(https://heykidimacomputer.files.wordpress.com/2014/02/pattern.gif) center center, rgba(129,13,36,0.8); 
	background-size:50%;
	background-blend-mode:multiply    ;
	text-align:center; 
	padding:6% 36% !important;	
}

.profile button{
	width:100%;
	border:white 1px solid;
	color:white;
	margin-top:10px;
	background:none;
}

.contentprofile{
	width: 100%;
	margin-top: 0px;
	color: black;
	min-height: 30%;
	
}

/* PROFILE END */


/* CART */

/* Detail Page */
.cart-img {
    width: 100%;
    max-height:10vh;
    overflow: hidden;
}

.cart-img-item {
    display: inline-block;
    position: relative;
    right: -50%;
	text-align:center;
}

.cart-img-item img {
    position: relative;
    left: -50%;
	width:70%;
}

.cart button{
	width:70%;
	padding:8px;
	background:#DFB866;
	border:none;
	font-size:9pt;
	font-weight:bold;
	margin-top:10px;
	color:white;
}

/* CART END */
.burger{
	border-radius:5px;
	background:white;
	width:21px;
	height:3px;
	margin:6px;
	color:rgba(0,0,0,0);
}

a{
	text-decoration:none;
}


.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.header{
	position:fixed;
	z-index:9999;
}

.header img{
	max-width: 100%;
	width: 30%;
	margin-top:-29px;
}

.header .cart{
	position:relative;
	background-image:url(../img/cart.png);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:right center;
	height:100%;
	text-align:right;
}
.header .cart-count{
	position:absolute;
	top:3px;
	right:-7px;
	border-radius:8px;
	padding:0px 8px;
	background:#f00;
	color:#fff;
}


.contenthome {
	width: 100%;
	margin-top: 0px;
	padding-top: 120% !important;
	color: white;
	min-height: 91.5%;
	
}

.contenthome div{
	text-align:left;
	/* position:fixed; */
	padding-left:21px;
}

.contenthome div p, .contenthome div h3{
	margin:0;
}


/* NAV MENU BEGIN */
nav {
	height: 100%;
	width: 280px;
	background-color: rgba(27,27,27,.9);
	left: 0;
	top: 0;
	z-index: 999999;
	position: fixed;
	overflow-y: auto;
	overflow-x: visible;
	
	text-align:left;
	transform: translate(-280px,0);
}


nav.nav {
	color: #fff;
	line-height:1.2em;
	font-size:16pt;
}

.nav a{
	color: #fff;
}

.nav a:hover{
	text-decoration:none;
	color: #fff;
}


.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	display: none;
	z-index: 1;
}
.is-navOpen{
  overflow: hidden;
}

.nav .current-user{
	margin-bottom:20px;
}
.nav .current-user-data{
	float:left;
	padding-left:50px;
}
.nav .current-user-data h3{
	font-size:14px;
	margin-top:5px;
	margin-bottom:5px;
	font-weight:bold;
}
.nav .current-user-data p{
	font-size:11px;
	line-height:1;
}

/* NAV MENU END */


/* HOMEPAGE */

.homepage{
	padding-top:65%;
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	height:96vh;
	width:100%;
	text-align:center;
	color:white;
}

.homepage img {
	margin: 0 auto 22px;
}
.homepage .col-xs-6{
	margin-top:10px;
}


.homepage .col-xs-6 button{
	width:60%;
	font-weight:thin;
	background:none;
	padding:4px 4px;
	border: 1px white solid;
	text-transform:uppercase;	
}

.homepage p{
	margin-top:9px;
	margin-bottom:9px;
}

.homepage .loading{
	display:none;
}

/* END HOMEPAGE */


/* START LOGIN PAGE */
.loginarea{
	padding-top:34%;
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	height:96vh;
	width:100%;
	text-align:center;
	color:white;
}

.loginarea img {
	margin: 0 auto 22px;
}


.loginarea p{
	margin-top:9px;
	margin-bottom:9px;
}

.loginarea .loading{
	display:none;
}

/* end login */

/* START REGIS PAGE */
.regisarea{
	padding-top:15%;
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	height:96vh;
	width:100%;
	text-align:center;
	color:white;
}

.regisarea img {
	margin: 0 auto 22px;
}


.regisarea p{
	margin-top:9px;
	margin-bottom:9px;
}

.regisarea .loading{
	display:none;
}


/* end regis */

/* store */
.store{
	padding: 5px;	
}

.store a{
	color:black;
	text-decoration: none;
}

.store a:hover{
	text-decoration: none;
}

.store table.contacts{
	width:100%;
}
.store table.contacts td{
	padding:2px;
	text-align:left;
}

footer{
	font-size:8pt;
	color:white;
	background:#020100;
	text-align:center;
	padding-bottom:10px;
}

.no-padding{
	margin:0 !important;
	padding:0 !important;
}


/* ICON SETS */
.icon-set{
	width:20px;
	height:20px;
	background-repeat:no-repeat;
	background-position:middle;
	background-size:contain;
}
.phone{
	background-image:url('../img/phone.png');
}
.mail{
	background-image:url('../img/mail.png');
}
